<template name="RecordMedData">
<div>
{{#with patient}}
	{{Title}} {{FName}} {{LName}}
{{/with}}
</div><br>



<div class="input-field col s12">
	<select id="selectdate">
	  {{#each date}}
	  	<option value="{{value}}">{{label}}</option>
	  {{/each}}
	</select>
	<label>Select Date</label>
</div><br>

<div>
	{{#with getrecord}}
		<div>ข้อมูลสุขภาพเบื้องต้น</div><br>
		<span>น้ำหนัก: {{Health.Weight}} ส่วนสูง: {{Health.Height}} อุณหภูมิ: {{Health.BodyTemp}}</span><br>
		<span>อัตราการเต้นของหัวใจ: {{Health.HeartRate}} ความดันสูงสุด: {{Health.SystolicBP}} ความดันต่ำสุด: {{Health.DiastolicBP}}</span><br>

		<div>การรักษา</div><br>
		<span>ชื่อโรค: {{getdisease Med.ICD}} คำอธิบาย: {{Med.Description}}</span><br>

		<div>การจ่ายยา</div><br>
		{{#each Dispense}}
			<span>ชื่อยา: {{getmedicine ID}} จำนวน: {{Amount}} หน่วย: {{Unit}}</span><br>
		{{/each}}
	{{/with}}
</div>

การรักษา
<div id='icd'>ชื่อโรค: {{> EasySearch.Autosuggest index=diseaseIndex }}</div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">คำอธิบาย</label>
        </div>
      </div>
    </form>
  </div>
  <script>
   $('#textarea1').val('');
  $('#textarea1').trigger('autoresize');
</script>





  รายการยา

<div class="something">
<div class="input_fields_wrap">
    <button class="add_field_button">ADD</button>

  <div class="medicine">ชื่อยา: {{> EasySearch.Autosuggest index=medicineIndex }}</div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea2" class="materialize-textarea description"></textarea>
          <label for="textarea2">คำอธิบาย</label>
        </div>
      </div>
    </form>
    จำนวน<input class="amount" />      <input class="unit" />
  <script>
   $('#textarea2').val('');
  $('#textarea2').trigger('autoresize');
	</script>
  </div>
</div>


<button id='submit'>Submit</button>



</template>