<template name="RecordMedData">
<div>
{{#with patient}}
	{{Title}} {{FName}} {{LName}}
{{/with}}
</div><br>



<div class="input-field col s12">
	<select id="selectdate">
	  {{#each date}}
	  	<option value={{value}}>{{label}}</option>
	  {{/each}}
	</select>
	<label>Select Date</label>
</div><br>

<div>
	{{#with getrecord}}
		<div>ข้อมูลสุขภาพเบื้องต้น</div><br>
		<span>น้ำหนัก: {{Health.Weight}} ส่วนสูง: {{Health.Height}} อุณหภูมิ: {{Health.BodyTemp}}</span><br>
		<span>อัตราการเต้นของหัวใจ: {{Health.HeartRate}} ความดันสูงสุด: {{Health.SystolicBP}} ความดันต่ำสุด: {{Health.DiastolicBP}}</span><br>

		<div>การรักษา</div><br>
		<span>ชื่อโรค: {{getdisease Med.ICD}} คำอธิบาย: {{Med.Description}}</span><br>

		<div>การจ่ายยา</div><br>
		{{#each Dispense}}
			<span>ชื่อยา: {{getmedicine ID}} จำนวน: {{Amount}} หน่วย: {{Unit}}</span><br>
		{{/each}}
	{{/with}}
</div>




</template>