<template name="FindPatient">

	<h5>ค้นหาผู้ป่วย</h5>
	<br>
	<span>ชื่อ</span>
	{{> EasySearch.FieldInput field="FName" attributes=getInputAttributes index=patientsIndex}}
	<span>นามสกุล</span>
	{{> EasySearch.FieldInput field="LName" attributes=getInputAttributes index=patientsIndex}}
	<span>หมายเลข HN</span>
	{{> EasySearch.FieldInput field="HN" attributes=getInputAttributes index=patientsIndex}}
	<span>เลขประจำตัวประชาชน</span>
	{{> EasySearch.FieldInput field="SSID" attributes=getInputAttributes index=patientsIndex}}
	

	<ul>
		<span>รายชื่อผู้ป่วย</span>
		{{#EasySearch.IfInputEmpty index=patientsIndex}}
		  	<div>Start searching!</div>

	  	{{else}}
	  		{{#EasySearch.IfNoResults index=patientsIndex}}
		    	<div >No results found!</div>
		  	
		  	{{else}}
			    {{#EasySearch.Each index=patientsIndex}}
			  	 <li>Patient: {{SSID}} {{FName}} {{LName}}
			  	  <a href={{pathFor '/patient/:patientId/appointment/' patientId=_id}}>
			  	  <button class="waves-effect waves-light btn" >จัดการนัด</button></a>
			  	  <a href={{pathFor '/view/patientData/:patientId' patientId=_id}}>
			  	  <button class="waves-effect waves-light btn">ดูข้อมูล</button></li>
			  	  </a>
			    {{/EasySearch.Each}}

			    {{> EasySearch.LoadMore index=patientsIndex}}
			{{/EasySearch.IfNoResults}}
		  	

		{{/EasySearch.IfInputEmpty}}

	</ul>
     

  	

  	
</template>