<template name="FindPatient">

	<h5>ค้นหาผู้ป่วย</h5>
	<br>
	<span>ชื่อ</span>
	{{> EasySearch.FieldInput field="FName" attributes=getInputAttributes index=patientsIndex}}
	<span>นามสกุล</span>
	{{> EasySearch.FieldInput field="LName" attributes=getInputAttributes index=patientsIndex}}
	<span>หมายเลข HN</span>
	{{> EasySearch.FieldInput field="HN" attributes=getInputAttributes index=patientsIndex}}
	<span>เลขประจำตัวประชาชน</span>
	{{> EasySearch.FieldInput field="SSID" attributes=getInputAttributes index=patientsIndex}}
	

	<div class="row">
		<div class="col s12">รายชื่อผู้ป่วย</div><br>
		{{#EasySearch.IfInputEmpty index=patientsIndex}}
		  	<div class="col s12">Start searching!</div><br>

	  	{{else}}
	  		{{#EasySearch.IfNoResults index=patientsIndex}}
		    	<div class="col s12">No results found!</div><br>
		  	
		  	{{else}}
			    {{#EasySearch.Each index=patientsIndex}}
			    <div class="col s2">
			  	 ผู้ป่วย :
			  	</div>
			    <div class="col s2">
			  	 {{SSID}}
			  	</div>
			  	<div class="col s2">
			  	 {{FName}}
			  	</div>
			  	<div class="col s2">
			  	 {{LName}}
			  	</div>
			  	<div class="col s4">
			  	
			  	  <a href={{pathFor '/patient/:patientId/appointment/' patientId=_id}}>
			  	  <button class="waves-effect waves-light btn" >ดูรายการการนัด</button></a>
			  	  <a href={{pathFor '/view/patientData/:patientId' patientId=_id}}>
			  	  <button class="waves-effect waves-light btn">ดูข้อมูล</button>
			  	  </a>
			  	</div>
			    {{/EasySearch.Each}}
			    {{> EasySearch.LoadMore index=patientsIndex}}
			{{/EasySearch.IfNoResults}}
		{{/EasySearch.IfInputEmpty}}
	</div>
     

  	

  	
</template>