<template name="FindDoctor">

	<h5>ค้นหาหมอ</h5>
	<br>
	<span>หมายเลขประจำตัวบุคลากร</span>
	{{> EasySearch.FieldInput field="UserID" attributes=getInputAttributes index=doctorIndex}}
	<span>ชื่อ</span>
	{{> EasySearch.FieldInput field="FName" attributes=getInputAttributes index=doctorIndex}}
	<span>นามสกุล</span>
	{{> EasySearch.FieldInput field="LName" attributes=getInputAttributes index=doctorIndex}}
	

	<div class="row">
		<div class="col s12">รายชื่อหมอ</div><br>
		{{#EasySearch.IfInputEmpty index=doctorIndex}}
		  	<div class="col s12">Start searching!</div><br>

	  	{{else}}
	  		{{#EasySearch.IfNoResults index=doctorIndex}}
		    	<div class="col s12">No results found!</div><br>
		  	
		  	{{else}}
			    {{#EasySearch.Each index=doctorIndex}}
				<div class="col s2">
			  	 Doctor:
			  	</div>
			    <div class="col s2">
			  	 {{UserID}}
			  	</div>
			  	<div class="col s2">
			  	 {{FName}}
			  	</div>
			  	<div class="col s2">
			  	 {{LName}}
			  	</div>
			  	<div class="col s2">
			  	</div>
			  	<div class="col s2">
			  	 <a href={{pathFor '/view/wardRound/:doctorId' doctorId=_id}}>
			  	  <button class="waves-effect waves-light btn" >จัดการนัด</button></a>
			  	</div>
			    {{/EasySearch.Each}}
			    {{> EasySearch.LoadMore index=doctorIndex}}
			{{/EasySearch.IfNoResults}}
		{{/EasySearch.IfInputEmpty}}
	</div>		

     

  	

  	
</template>

