@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
$primary-color: #00bcd4 ;

// import main scss file
@import "{poetic:materialize-scss}/bower_components/materialize/sass/materialize.scss";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  body.mainLayout{
    background: color("blue", "lighten-2");
  }
  body.dashboardLayout{
    background: #FFFFFF;
  }

  main {
    flex: 1 0 auto;
  }
  
  nav .nav-wrapper{
  	padding-left: 30px;
  }