@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
//$primary-color: #00bcd4 ;

// import main scss file
@import "{poetic:materialize-scss}/bower_components/materialize/sass/materialize.scss";


//////Universal Shit//////////

//block button
.at-btn {
  min-width: 100%;
}

//add space above footer
footer{
  margin-top: 100px;
}

#semikolon-logo img{
  margin-top: 24px;
  width: 80px;
}


//Sticky Footer ..still bugging though
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

///////////Css of First Page/////////////

//Dynamic Img Size for Logo
  //Header
    #opd-logo img{
    margin-top: 24px;
    width: 200px;
    }

  //Athapak
     #bg img{
      margin: 150px 0px 20px ;
      max-width: 40%;
      height: auto;
      width: auto\9; /* ie8 */
}

//Gradient BG
  body.mainLayout{
    //    background: color("blue", "lighten-2");
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cef5+0,00c4f2+53,00bdf1+100 */
    background: #00cef5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #00cef5 0%, #00c4f2 53%, #00bdf1 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #00cef5 0%,#00c4f2 53%,#00bdf1 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #00cef5 0%,#00c4f2 53%,#00bdf1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cef5', endColorstr='#00bdf1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  body.loginLayout{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01caad+0,01c1a0+53,01caad+100 */
    background: #01caad; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #01caad 0%, #01c1a0 53%, #01caad 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #01caad 0%,#01c1a0 53%,#01caad 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #01caad 0%,#01c1a0 53%,#01caad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01caad', endColorstr='#01caad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

  body.dashboardLayout{
    background: #ebecf0;
  }

  



///////////Css of Dashboard/////////////

//Navbar 

//shift Navbar to the right
  nav .nav-wrapper{
    padding-left: 30px;
  }

//Background Color of Header
  #toplevel{
    padding: 0 0 0 5%;
   // background: #07BDF1;
  }

/*  
  #toplevel-patient{
    padding: 0 0 0 5%;
    background: #07BDF1;
  }
  #toplevel-personel{
    padding: 0 0 0 5%;
    background: #01b791;
  }*/

  

//Effect of Activated Item 
  #toplevel ul li a.active {
    transition: all 300ms linear;
    border-bottom: 3px solid #008db0;
}


//change menu height
.toplevel-menu{
   height: 36px;
}

//change navbar height
.navbar-fixed {
  height: 48px;
}

//level borderline up
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  line-height: 61px;
}

///////////Css of importWardroundForm//////////

#day-time-form{
  .col{
    margin-left: 45px;
  }
}
