<template name="ManageAppointment">
	<div class="container">
		<table class="highlight">
		<!-- table header -->
		<thead>
		 <tr>
		     <th data-field="id">วันที่</th>
		     <th data-field="name">ช่วง</th>
		     <th data-field="price">แผนก</th>
		     <th data-field="price">แพทย์</th>
		     <th>จัดการ</th>
		 </tr>
		</thead>

		<!-- table body -->
		<tbody>
		<!-- start loop #each appointment -->
		{{#each currentPatientAppointments}}
		 <tr>
		   <td>{{Date}}</td>
		   <td>{{AppTime}}</td>
		   <td>{{DepartmentName}}</td>
		   <td>{{DoctorName}}</td>

		   <td class="activity-icons">
		   	<a href="/patient/{{param 'patientId'}}/appointment/postpone/{{_id}}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="เลื่อนนัด">
			   	<i class="material-icons grey-text">av_timer</i>
			</a>

			<a href class="tooltipped" data-position="top" data-delay="50" data-tooltip="พิมพ์ใบนัด">
			   	<i class="material-icons grey-text">print</i>
		   	</a>

		   	<a href class="right tooltipped" data-position="top" data-delay="50" data-tooltip="ยกเลิกนัด">
			   	<i class="material-icons red-text">delete</i>
		   	</a>
		   </td>
		 </tr>
		 
		 {{/each}}
		 <!-- end loop /each -->
		</tbody>
     </table>
	</div>
</template>