<template name="ManageAppointment">
	<div class="right" style="position: relative; top: 0; right: -10px;">
		<a href="{{staff}}/patient/{{param 'patientId'}}/appointment/new" class="btn-floating btn-large waves-effect waves-light lime accent-3"><i class="material-icons">add</i></a>
	</div>

	<div class="container">
		<h4>ข้อมูลผู้ป่วย</h4>
		<div class="row">
			<div class="col s7">
				<blockquote class="border-color-red">
					{{#with currentPatient}}
						<p>ชื่อ - สกุล : {{Title}}{{FName}} {{LName}}</p>
						<p>สัญชาติ : {{Nationality}}</p>
						<p>เบอร์โทรศัพท์ : {{TelNo}}</p>
						<p>อีเมล : {{Email}}</p>
					{{/with}}
				</blockquote>	
			</div>	
			<div class="col s5">
				<h5 class="right">HN : {{HN}}</h5>
			</div>	
		</div>	
	</div>
	
	<div class="container">
		<table class="highlight">
			<!-- table header -->
			<thead>
			 <tr>
			     <th data-field="id">วันที่</th>
			     <th data-field="name">ช่วง</th>
			     <th data-field="price">แผนก</th>
			     <th data-field="price">แพทย์</th>
			     <th>จัดการ</th>
			 </tr>
			</thead>

			<!-- table body -->
			<tbody>
			<!-- start loop #each appointment -->
			{{#each currentPatientAppointments}}
			 	<tr>
				  <td>{{Date}}</td>
				  <td>{{AppTime}}</td>
				  <td>{{DepartmentName}}</td>
				  <td>{{DoctorName}}</td>

				  <td class="activity-icons">
				   	<a href="/patient/{{param 'patientId'}}/appointment/postpone/{{_id}}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="เลื่อนนัด">
					   	<i class="material-icons grey-text">av_timer</i>
						</a>

						<a href class="tooltipped" data-position="top" data-delay="50" data-tooltip="พิมพ์ใบนัด">
				  	 	<i class="material-icons grey-text">print</i>
			   		</a>

			   		<a href="#modal_{{_id}}" class="right tooltipped modal-trigger" data-position="top" data-delay="50" data-tooltip="ยกเลิกนัด">
				   		<i class="material-icons red-text">delete</i>
			   		</a>
			   	</td>
			 	</tr>

			 	<!-- Modal Structure -->
			  <div id="modal_{{_id}}" class="modal">
			    <div class="modal-content">
			    	<h4>ยกเลิกนัดหมาย</h4>
			    	<div class="container">
			    		<div class="col offset-s1">
				      	<p>วันที่ : {{Date}}</p>
							  <p>ช่วงเวลา : {{AppTime}}</p>
							  <p>แผนก : {{DepartmentName}}</p>
							  <p>แพทย์ : {{DoctorName}}</p>
			    		</div>
			    	</div>
			    </div>
			    <div class="modal-footer">
			      <a href class=" modal-action modal-close waves-effect waves-green btn-flat">
			      	{{#quickRemoveButton collection="OPD.Model.Appointments" _id=_id onError=onError onSuccess=onSuccess class="at-btn waves-effect waves-light btn red"}}ยกเลิกการนัด{{/quickRemoveButton}}
			      </a>
			      <a href class=" modal-action modal-close waves-effect waves-green btn-flat">
			      	<button type="submit" class="at-btn waves-effect waves-light btn">กลับสู่รายการนัด</button>
			      </a>
			    </div>
			  </div>
			 
			 {{/each}}
			 <!-- end loop /each -->
			</tbody>
    	</table>
	</div>
</template>

<template name="CancelModal">
	<!-- Modal Structure -->
<!--   <div id="modal_{{_id}}" class="modal">
    <div class="modal-content">
    	<h4>ยกเลิกนัดหมาย</h4>
    	<div class="container">
    		<div class="col offset-s1">
	      	<p>วันที่ : {{Date}}</p>
				  <p>ช่วงเวลา : {{AppTime}}</p>
				  <p>แผนก : {{DepartmentName}}</p>
				  <p>แพทย์ : {{DoctorName}}</p>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
      <a href class=" modal-action modal-close waves-effect waves-green btn-flat">
      	{{#quickRemoveButton collection="OPD.Model.Appointments" _id=_id onError=onError onSuccess=onSuccess class="at-btn waves-effect waves-light btn red"}}ยกเลิกการนัด{{/quickRemoveButton}}
      </a>
      <a href class=" modal-action modal-close waves-effect waves-green btn-flat">
      	<button type="submit" class="at-btn waves-effect waves-light btn">กลับสู่รายการนัด</button>
      </a>
    </div>
  </div> -->
</template>

