<template name="PatientAuth">
		
	{{#if isShowPatientAuthForm}}
		{{#autoForm schema="OPD.Schema.PatientAuthForm" id="appointmentForm" type="method" meteormethod="Patients.auth" resetOnSuccess=false}}
			{{> afQuickField name='ssidOrHn'}}
			{{> afQuickField name='firstName'}}
			{{> afQuickField name='lastName'}}
			{{> afQuickField name='action' value='make'}}
			<button type="submit" class="waves-effect waves-light btn">ดำเนินการต่อ</button>
		{{/autoForm}}
	{{/if}}


	{{#if isRequireOTP}}
		<p>คุณ {{firstName}} {{lastName}}</p>
		<p>one-time-password ได้ถูกส่งไปที่อีเมลของคุณ</p>
		{{> OTP patientId=currentPatientId}}
	{{/if}}


</template>
