<template name="PostponeAppointment">
	{{#autoForm schema="OPD.Schema.Appointments" id="postponeAppointment" type="update" resetOnSuccess=false doc=currentAppointment}}
		{{> afQuickField name="PatientID" value=patientId}}
		{{> afQuickField name='DepartmentID' value='cFRp9z7azukZkNNPN'}}
		{{> afQuickField name='AppDate'}} <!-- ต้อง default เป็นวันเวลาที่เร็วสุด -->
		{{> afQuickField name='AppTime'}}
		{{> afQuickField name='DoctorID' options=doctors}}
		<button type="submit" class="waves-effect waves-light btn">ยืนยันการเปลี่ยนแปลง</button>
	{{/autoForm}}
</template>