<template name="PostponeAppointment">
	<div class="container"> 
	<h5>เลือกเวลานัดพบใหม่</h5>
	{{#autoForm collection="OPD.Model.Appointments" id="postponeAppointment" type="update" resetOnSuccess=true doc=currentAppointment}}
		{{> afQuickField name="PatientID" value=patientId}}
		{{> afQuickField name='DepartmentID'}}
		{{> afQuickField name='AppDate'}} <!-- ต้อง default เป็นวันเวลาที่เร็วสุด -->
		{{> afQuickField name='AppTime'}}
		{{> afQuickField name='DoctorID' options=doctors}}
		<button type="submit" class="waves-effect waves-light btn">ยืนยันการเปลี่ยนแปลง</button>
	{{/autoForm}}
	</div>
</template>