<template name="ViewDeptWardRound">
	<div class="container">
		<div class="row">
			<div class="input-field col s6">
			    <select id="selectDepartment">
			      	<option value="NONE" disabled selected>(Choose the department)</option>
			    {{#each departments}}
			      	<option value={{_id}}>{{Name}}</option>
			    {{/each}}
			    </select>
			    <label>เลือกแผนกที่ต้องการ</label>
			</div>
			<div class="input-field col s6">
			    <select id="selectMonth">
			      	<!-- <option value="" disabled selected>(Choose month)</option> -->
			    {{#each months}}
			      	<option value={{ID}} {{selected}}>{{Name}}</option>
			    {{/each}}
			    </select>
			    <label>เลือกเดือนที่ต้องการ</label>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<h5>ตารางการออกตรวจ{{selectedDepartment}}</h5> เดือน{{selectedMonthYear}} 
		<table class="bordered striped">
			<thead>
			<tr>
			    <th data-field="date">วันที่</th>
			    <th data-field="doctor-morning">แพทย์ช่วงเช้า</th>
			    <th data-field="doctor-afternoon">แพทย์ช่วงบ่าย</th>
			</tr>
			</thead>

			<tbody>
			{{#each wardroundDate}}
			<tr>
				<td>{{date}}</td>
			   	<td>
	   				<!-- <u>ช่วงเช้า :</u><br> -->
			   		{{#each morning}}
			   			{{index}}) {{FName}} {{LName}}<br>
			   		{{/each}}
			   	</td>
			   	<td>
	   				<!-- <u>ช่วงบ่าย :</u><br> -->
			   		{{#each afternoon}}
			   			{{index}}) {{FName}} {{LName}}<br>
			   		{{/each}}
				</td>
			 </tr>
			{{/each}}
			</tbody>
     	</table>
	</div>

</template>
