<template name="ImportWardRoundSchedule">
	<div class='row'>
		<div class='col s12'>
			<div class='card'>
				<div class='card-content'>
					<span class='card-title black-text'>นำเข้าตารางการออกตรวจ</span>
					<div class='row'>
						<div class="input-field col s6">
							<select class='deptSelect'>
								<option value="" disabled selected>เลือกแผนก</option>
								{{#each departments}}
								<option value="{{_id}}">{{Name}}</option>
								{{/each}}				          	
							</select>
							<label>แผนก</label>
						</div>
						<div class="input-field col s6">
							<select class='doctSelect'>
							<option value="" disabled selected>เลือกแพทย์</option>
								{{#each doctors}}				        		
								<option value="{{_id}}">{{profile.FName}} {{profile.LName}}</option>
								{{vanz}}
								{{/each}}			
							</select>
						</div>
					</div>

					<div class='row'>
						<p>เลือกวันและระบุเวลาออกตรวจ</p>
						<div class='divider'></div>
					</div>


					<div class='row'>
						<form class='new-wardround' id='day-time-form'>
							{{#each days}}
							<div class='col s1'>
								<div class='row day-of-week'>
									<input type="checkbox" id='{{this}}' checked='{{check this}}' disabled="{{disableDay}}" />
									<label for='{{this}}'>{{day this}}</label>
								</div>
								<div class='row time'>
									<input type="checkbox" day='{{this}}' time='morning' id='{{this}}_morning' checked="{{checkTime this 'morning'}}" disabled='{{disable this}}' />
									<label for='{{this}}_morning'>เช้า</label>
								</div>
								<div class='row time'>
									<input type="checkbox" day='{{this}}' time='afternoon' id='{{this}}_afternoon' checked="{{checkTime this 'afternoon'}}" disabled='{{disable this}}' />
									<label for='{{this}}_afternoon'>บ่าย</label>
								</div>
							</div>
							{{/each}}
							<div class='row'>
								<div class='col s1'>
									<button type="submit" class="at-btn waves-effect waves-light btn" disabled="{{disableSubmit}}" id='wardroundSubmit'>ยืนยัน</button>
								</div>
								<div class='col s4'>
									<p class='red-text condensed-text' style="margin-top: 5px">{{warningMessage}}</p>
								</div>
							</div>
						</form>
					</div>																
				</div>
			</div>
		</div>
	</div>	
</template>
