<template name="DashboardHeader"> 
	<div class="{{getColorClass}}">
	{{> LogoHeader}}
	{{> NavHeader}}
	</div>
</template>
 
<template name="LogoHeader">

	<div class="navbar-fixed">
	    <nav class = "z-depth-0">
		    <div class="nav-wrapper ">
			    <div class ="col s12">	
			        <a href="#top" class="brand-logo" >
			        	<div id="opd-logo">  
						    <img src="/opd-logo.png" alt="OPD" >
						</div>
					</a>
			        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			        <!-- <ul class="right hide-on-med-and-down">
			        <li><i class="material-icons">person_pin</i>ปริเมธ วงศ์สัตยนนท์</li> </ul>-->
			        <div class="row" >
			        	<div class="col l4 offset-l8  m4 offset-m7  hide-on-med-and-down" style="height:60px">
								<div class="row" >
									<div class="col l1 offset-l2" style="padding-top: 5px"><i class="material-icons small">person_pin</i></div>
									<div class="col l9">
										<div class="row" style=" padding-top: 0px; padding-bottom: 0px;">
											<div class="col l12" style="height: 18px; font-size: 1.11vw;">
												{{> printName}}
											</div>
											<div class="col l12" style="height:15px"><a href="#logout" id="logout" style="height: 6px;font-size:10pt;">ออกจากระบบ</a>
											</div>
										</div>
									</div>
							</div>
				 			</div>
			        </div>						        
					<!--  <li><a href="">Sass</a></li>
				        <li><a href="">Components</a></li> -->
			        
			        <ul class="side-nav" id="mobile-demo">
	                  	<li style="font-size: 18pt; color:grey; padding:20% 0% 3% 8%;">{{> printName}}</li>
				       	{{#each menu}}
				        	{{> menuGenerator}}
				      	{{/each}}
				        <li><a href="#logout" id="logout">Log Out</a></li>
				    </ul>
			    </div>		     
		    </div>
    	</nav>
	 </div>	
</template>


<template name="NavHeader" >
	<div class="toplevel-menu" style="margin-bottom:56px">
	    <nav class= "z-depth-0">
          	<ul class="left hide-on-med-and-down">
		       	{{#each menu}}
		        	{{> menuGenerator}}
		      	{{/each}}
        	</ul>
   		</nav>
    </div>
</template>


<!-- ////////////////////////////Other Templates////////////////////////////// -->

<!--  Links in Navbar Generator -->
<template name="menuGenerator">
	<li><a class="{{#if active}}waves-effect active{{/if}}" href="{{link}}">{{text}}</a></li>
</template>


<!-- Display Name of User on Navbar -->
<template name="printName">
	<script type="text/javascript">console.log('1');</script>
    {{#if isPatient}}
		{{patientName}}
	{{else}}
	<script type="text/javascript">console.log('3');</script>	
	{{ currentUser.profile.FName }} {{ currentUser.profile.LName }}
	{{/if}}
</template>

<!-- ///////////////////////////FOOTER///////////////////////////
 -->

<template name="DashboardFooter"> 
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
              	<div class="col l6 s5 offset-s4">
	               	<div id="opd-logo">  
				      <img src="/opd-logo.png" alt="OPD" >
			    	</div>
	                
              	</div>
              	<div class="col l2 offset-l4 s6 offset-s5">
              		<div id="semikolon-logo"> 
	                <img src="/semikolon-logo.png" alt="OPD" >
	                </div>

              	</div>
            </div>
        </div>
        <div class="footer-copyright black">
            <div class="container">
	            © 2015 Hospital OPD System, All rights reserved.
	       
            </div>
        </div>
    </footer>
</template>