<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>

<template name="AuthenticationFailed">
	<script>
	function goBack() {
	    window.history.back();
	}
	</script>

	<div class="container" style="margin: 0 1 auto" align="middle">
		<br>
		<h4>คุณไม่มีสิทธิเข้าใช้งานในส่วนนี้</h4>
		<br>
	  	<i class="material-icons large" style="color: #c62828 ">warning</i>
	  	<br><br><br>
	  	<a class="waves-effect waves-light btn-large " onclick="goBack()">กลับไปหน้าก่อน</a>
	</div>


</template>

