<template name="ViewDispensesList">
	
	<div class="container">
		<div class="row">
			<div class="col">
				<h4>รายการจ่ายยา</h4>
			</div>
		</div>		

		<!-- {{#if currentDispemsesList}} -->
			<table class="highlight">
				<!-- table header -->
				<thead>
				 <tr>
				     <th data-field="id">วันที่</th>
				     <th data-field="price">แผนก</th>
				     <th data-field="price">แพทย์</th>
				     <th data-field="name">ผู้ป่วย</th>
				     <th>จัดการ</th>
				 </tr>
				</thead>

				<!-- table body -->
				<tbody>
				<!-- start loop #each กรหยำืหำ -->
				<!-- {{#each currentData}} -->
				 	<tr>
					  <td>{{Date}}</td>
					  <td>{{DepartmentName}}</td>
					  <td>{{DoctorName}}</td>
					  <td>{{PatientName}}</td>

					  <td class="activity-icons">
				   		<a href="#modal_{{_id}}" class="left tooltipped modal-trigger" data-position="top" data-delay="50" data-tooltip="ดูรายการยา">
					   		<i class="material-icons green-text">assignment</i>
				   		</a>

<!-- 				   		<a href="#modal_{{_id}}" class="right tooltipped modal-trigger" data-position="top" data-delay="50" data-tooltip="ยกเลิกนัด">
					   		<i class="material-icons green-text">done</i>
				   		</a> -->
				   	</td>
				 	</tr>

				 	<!-- Modal Structure -->
				  <div id="modal_{{_id}}" class="modal modal-fixed-footer">
				    <div class="modal-content">
				    	<h4>รายการยา</h4>
				    	<h5>วันที่:{{Date}} แผนก:{{DepartmentName}} แพทย์:{{DoctorName}} ผู้ป่วย:{{PatientName}}</h5>
				    	<div class="container">		
				    	<!-- {{#each Dispense}} -->
				    		<div class="row">
					    		<div class="col offset-s1">
						      	<p>ชื่อยา : {{Yaa}}</p>
									  <p>คำอธิบาย : {{Description}}</p>
									  <p>จำนวน : {{Amount}} {{Unit}}</p>
									  <br>
					    		</div>
					    	</div>
					    <!-- {{/each}}		 -->
				    	</div>
				    </div>
				    <div class="modal-footer">
				      <a href class="modal-action modal-close waves-effect waves-green btn-flat update-status">
				      	<button type="submit" class="at-btn waves-effect waves-light btn red">จ่ายยาสำเร็จ</button>
				      </a>
				      <a href class=" modal-action modal-close waves-effect waves-green btn-flat">
				      	<button type="submit" class="at-btn waves-effect waves-light btn">กลับสู่รายการจ่ายยาทั้งหมด</button>
				      </a>
				    </div>
				  </div>
				 
				 <!-- {{/each}} -->
				 <!-- end loop /each -->
				</tbody>
	    </table>  
	  <!-- {{else}}
	  	<h5 class="center">ไม่พบข้อมูลการจ่ายยา</h5>
	  {{/if}} -->

	</div>

</template>