<template name="ViewPatientData">
	<div class="input-field col s12">
		<select id="selectdate">
			<option value="" disabled selected>เลือกวันที่</option>
			{{#each date}}
			<option value={{value}}>{{label}}</option>
			{{/each}}
		</select>
		<label>Select Date</label>
	</div><br>
	<div class='card'>
	<div class='card-content'>
	<div class='container'>
	{{#with getrecord}}
		{{#if getRole 'nurse'}}
		<span class='card-title black-text'>ข้อมูลสุขภาพเบื้องต้น</span>
		<br>
		<span>น้ำหนัก: {{Health.Weight}} กก. ส่วนสูง: {{Health.Height}} ซม. อุณหภูมิ: {{Health.BodyTemp}} องศาเซลเซียส</span><br>
		<span>อัตราการเต้นของหัวใจ: {{Health.HeartRate}} bpm ความดันสูงสุด: {{Health.SystolicBP}} mmHg ความดันต่ำสุด: {{Health.DiastolicBP}} mmHg</span><br>
		{{/if}}
		{{#if getRole 'pharmacist'}}
		<span class='card-title black-text'>การรักษา</span>
		<br>
		<span>ชื่อโรค: {{getdisease Med.ICD}} คำอธิบาย: {{Med.Description}}</span><br>

		<div>การจ่ายยา</div><br>
		{{#each Dispense}}
			<span>ชื่อยา: {{getmedicine ID}} จำนวน: {{Amount}} หน่วย: {{Unit}}</span><br>
		{{/each}}
		{{/if}}
	{{/with}}
</div></div></div>
</template>